# SQLAlchemy: SQL and ORM

We will follow a series of exercises to get familiar with SQL and ORM.

ORM can be an abstract concept, to help you compare, the exercises will be a combination of traditional queries and SQLAlchemy queries.

`SQLAlchemy` is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

Installing The Package:

```pip install sqlalchemy```

## Setting up your notebook
To facilitate developing, you can run this notebook on a [Google Colab](https://colab.research.google.com/).

In [2]:
# Load the SQL magic extension
# https://github.com/ploomber/jupysql
# this extension allows us to connect to DBs and issue SQL commands
#%load_ext sql

import sqlalchemy as sa

In [ ]:
# To run SQL code in a Jupyter notebook cell, you can use the magic command %%sql

In [14]:
%%sqlion();

UsageError: Cell magic `%%sqlion();` not found.

After running the previous cell, we encounter the error `UsageError: No active connection.` This is due to the fact a connection with a database has not been established.

## Create a database with SQL Alchemy

The ***Declarative Mapping*** is the typical way that mappings are constructed in modern SQLAlchemy. Read more: [Declarative mapping and alternatives](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html#orm-declarative-mapping).

In [4]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# declarative base class
Base = declarative_base()

# an example mapping using the base
class User(Base):
    __tablename__ = 'user'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

The `Engine` is the starting point for any SQLAlchemy application, it represents a Python object that can be used to interact directly with the database and can be passed to a Session object to work with the ORM,

The `create_engine()`  function produces an `Engine` object based on a URL.

In [5]:
engine = create_engine('sqlite:///MyDataBase.db')

*Note the use of `///` to indicate a relative file path.*

In [6]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

The typical form of a database URL is:
`dialect+driver://username:password@host:port/database`

In this case we are using [SQLite](https://www.sqlite.org/index.html) a database engine broadly used worldwide for desktop and mobile aplications and provides the advantage of containing the database into one file `DB.db`.

Among the supported databases on sql alchemy we can list:

- SQLite
- PosgreSQL
- MySQL
- Oracle
- Microsoft SQL Server

The `Table object` is a member of a larger collection known as `MetaData`. When using Declarative, this object is available using the `.metadata attribute` of our declarative base class.

The `MetaData` is a registry which includes the ability to emit a limited set of schema generation commands to the database. As our database does not actually have a users table present, we can use `MetaData` to issue CREATE TABLE statements to the database for all tables that don’t yet exist.

In [7]:
# Create database following parameters defined in `Base`
Base.metadata.create_all(engine)

Refresh local files of your working directory, now you should be able to see the file `MyDataBase.db`.

In [8]:
# Connecting to the database
%sql sqlite:///MyDataBase.db

UsageError: Line magic function `%sql` not found.

In [ ]:
%%sql
-- # In SQL the comments are declared with --
-- # Example: Query to select values on table "user" from MyDataBase.db
SELECT * FROM user;

The table `user` declared previously on `class User(Base)` exist on the database but no data has been stored yet.

# Database sessions

A `DBSession()` instance establishes all conversations with the database during your session. 
- Any change made against the objects in the session won't be persisted into the database until you call: `session.commit()`. *(just like using Git...)*

- If you're not happy about the changes, you can revert all of them back to the last commit by calling `session.rollback()`.

In [9]:
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()

## Insert information into table *ORM approach*

In [10]:
# Using `class User(Base)` to input new parameters into the table `user`
my_first_table = User(name="Arnold", fullname="Arnold Schwarzenegger", nickname="Terminator")

In [11]:
# Add and commit changes to table `user`
session.add(my_first_table)
session.commit()
print(my_first_table)

<__main__.User object at 0x0000019C64BE5220>

`my_first_table` is a Python object, what means we can interact with the table in the same way done with other functions:

In [12]:
print(my_first_table.id)
print(my_first_table.name)
print(my_first_table.fullname)
print(my_first_table.nickname)

1
Arnold
Arnold Schwarzenegger
Terminator

## Insert information to table *using Queries*

Instead of using `class User(Base)`, we will add the values to the table using directly SQL queries. This, with the purpose of ilustrate with a pragmatical example the working methods using ORM vs SQL queries.

In [13]:
%%sql

-- # Insert values into the table `user`

INSERT INTO user(id, name, fullname, nickname)
    VALUES (2, 'Jennifer', 'Jennifer Aniston', 'Rachel'), 
    (3, 'Tyrannosaurus','Tyrannosaurus Rex', 'T-Rex'), 
    (4, 'Neil', 'Neil Patrick Harris', 'Barney Stinson'),
    (5, 'Aegon', 'Aegon Targaryen', 'John Snow');

UsageError: Cell magic `%%sql` not found.

To check your information was inserted correctly you can open your database or use one of the many VSCode extentions to view SQLite databases (e.g. SQL Viewer).

## Exercises: 

1. Use the `class User` to insert 5 rows of data into the table `user`
2. Insert 5 additional rows but this time using queries

In [19]:
## Your code: ORM Approach
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Step 1: Define the Database Engine
engine = create_engine('sqlite:///users.db', echo=True)

# Step 2: Define the Base Class
Base = declarative_base()

# Step 3: Define the Table
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                            self.name, self.fullname, self.nickname)

# Step 4: Create the Table
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()
# Step 6: Create Instances of the User Model
user1 = User(name="Aegon", fullname="Aegon Targaryen", nickname="John Snow")
user2 = User(name="Tyrannosaurus", fullname="Tyrannosaurus Rex", nickname="T-Rex")
user3 = User(name="Jennifer", fullname="Jennifer Aniston", nickname="Rachel")
user4 = User(name="Neil", fullname="Neil Patrick Harris", nickname="Barney Stinson")

# Step 7: Add Instances to the Session
session.add_all([user1, user2, user3, user4])   

session.commit()
session.close()

2024-08-13 16:31:54,019 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 16:31:54,019 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-08-13 16:31:54,020 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-13 16:31:54,021 INFO sqlalchemy.engine.Engine COMMIT
2024-08-13 16:31:54,023 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-13 16:31:54,024 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?) RETURNING id
2024-08-13 16:31:54,025 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/4 (ordered; batch not supported)] ('Aegon', 'Aegon Targaryen', 'John Snow')
2024-08-13 16:31:54,028 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?) RETURNING id
2024-08-13 16:31:54,028 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/4 (ordered; batch not supported)] ('Tyrannosaurus', 'Tyrannosaurus Rex', 'T-Rex')
2024-08-13 16:31:54,029 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?) RETURNING id
2024-08-13 16:31:54,030 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/4 (ordered; batch not supported)] ('Jennifer', 'Jennifer Aniston', 'Rachel')
2024-08-13 16:31:54,030 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?) RETURNING id
2024-08-13 16:31:54,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/4 (ordered; batch not supported)] ('Neil', 'Neil Patrick Harris', 'Barney Stinson')
2024-08-13 16:31:54,032 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\pieta\AppData\Local\Temp\ipykernel_21200\4129040264.py:10: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
import sqlite3

# Step 1: Connect to SQLite Database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Step 2: Create the 'user' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS user (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    fullname TEXT NOT NULL,
    nickname TEXT
)
''')

# Step 3: Insert multiple records into the 'user' table
cursor.execute('''
INSERT INTO user (id, name, fullname, nickname)
VALUES 
    (2, 'Jennifer', 'Jennifer Aniston', 'Rachel'), 
    (3, 'Tyrannosaurus', 'Tyrannosaurus Rex', 'T-Rex'), 
    (4, 'Neil', 'Neil Patrick Harris', 'Barney Stinson'),
    (5, 'Aegon', 'Aegon Targaryen', 'John Snow')
''')

# Step 4: Commit the transaction
conn.commit()

# Step 5: Select and display the data to verify the insertion
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 6: Close the connection
conn.close()

## Preview values in table

You can also preview the values in a particular table by using queries and the ORM approach.

### *Using queries:*

In [20]:
%%sql

SELECT * FROM user;

UsageError: Cell magic `%%sql` not found.

### *ORM approach*:

The inspection module provides the `inspect()` function, which delivers runtime information about a wide variety of SQLAlchemy objects, both within the Core as well as the ORM.

The `inspect()` function is the entry point to SQLAlchemy’s public API for viewing the configuration and construction of in-memory objects. Read more: https://docs.sqlalchemy.org/en/20/core/inspection.html.

In [15]:
from sqlalchemy import inspect
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['user']

In [16]:
# Get values in table:

print("----> User by (name):")
query = session.query(User)
for _row in query.all():
    print(_row.id, _row.name, _row.fullname, _row.nickname)

----> User by (name):
1 Arnold Arnold Schwarzenegger Terminator

### Exercises: 

1. Modify the code of the previous cell to stored the printed values on:

    a. A pandas DataFrame
    
    b. A dictionary

In [ ]:
# your awesome code

2. Insert new table using queries

In [ ]:
%%sql

CREATE TABLE media (
    id          INTEGER PRIMARY KEY NOT NULL,
    production  TEXT NOT NULL,
    year        NUMBER NOT NULL
    );

In [ ]:
%%sql
--# Insert values on table `media`
INSERT INTO media(id, production, year)
    VALUES (1,'Terminator',1984), 
    (2,'Friends', 1994), 
    (3,'Toy Story', 1995), 
    (4,'How I met your mother', 2005),
    (5,'Game of thrones',2011);

In [ ]:
%%sql

SELECT * FROM media;

3. Complete the values on the table `media` that corresponds to your previous inputs on the table `user`.

In [ ]:
# Awesome code
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Step 1: Define the Database Engine
engine = create_engine('sqlite:///media.db', echo=True)

# Step 2: Define the Base Class
Base = declarative_base()
# Step 3: Define the Table
class Media(Base):
    __tablename__ = 'media'

    id = Column(Integer, primary_key=True)
    production = Column(String)
    year = Column(Integer)

    def __repr__(self):
        return "<Media(production='%s', year='%s')>" % (
                            self.production, self.year)
# Step 4: Create the Table
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()
# Step 6: Create Instances of the User Model
media1 = Media(production="Terminator", year=1984)
media2 = Media(production="Friends", year=1994) 
media3 = Media(production="Toy Story", year=1995)
media4 = Media(production="How I met your mother", year=2005)
media5 = Media(production="Game of thrones", year=2011)

# Step 7: Add Instances to the Session

session.add_all([media1, media2, media3, media4, media5])
session.commit()
session.close()

### Well done! Now you have more tools as part of your skillset!

You are also ready for this joke: *An SQL query walks into a bar and sees two tables. He walks up to them and says:*

<img src='https://cdn.dribbble.com/users/1463678/screenshots/3212815/tables-dribbble.png' width = 500px></img>

## Resources:
- [Introduction to Relational Databases in Python (DataCamp)](https://app.datacamp.com/learn/courses/introduction-to-relational-databases-in-python)
- [ORM For Python: SQLAlchemy 101](https://medium.com/@haataa/orm-for-python-sqlalchemy-101-with-code-example-60868e65b0c)
- [Read the docs](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html)
- [Tutorial FastAPI and working with databases](https://fastapi.tiangolo.com/tutorial/sql-databases/)
- [SQL query practice](https://www.sql-practice.com/)
- [SQL workshop](https://tdmdal.github.io/mma-sql/)